llama-index
llama-index-embeddings-fastembed
llama-index-llms-ollama
llama-index-vector-stores-qdrant
llama-index-embeddings-ollama
llama-index-retrievers-bm25
llama_index.readers.json

qdrant_client
fastembed
streamlit==1.32.2
flask
duckduckgo_search
git+https://github.com/openai/swarm.git
